body {
    background-color: rgb(255,250,239) !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: rgb(38,53,92);
    border-radius: 10px 0 0 10px;
    color: white;
    min-width: 150px;
    height: 500px;
    padding: 20px !important;
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    padding: 0 20px 0 0;
}

.navbar ul li {
    padding: 15px 0 0 0;
}

.navbar ul li a {
    color: #d1d6e0;
    text-decoration: none;
    font-size: 18px;
}

.navbar-link {
    transition-duration: 0.4s;
}

.navbar-link:hover {
    font-weight: 600;
    font-size: larger;
}

.card {
    height: 500px !important;
    min-width: 700px !important;
    border-radius: 0 10px 10px 0 !important;
    background: url(./img/brainbg.jpg);
    background-size: cover;
    padding: 40px 100px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
}

.button {
    background-color: rgb(255,128,0) !important;
    width: fit-content;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    padding: 5px 30px;
    transition-duration: 0.4s;
}

.start-btn {
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.button:hover {
    background-color: rgb(255, 176, 97) !important;
}

.card-answer {
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    gap: 70px;
    padding: 5px;
    transition-duration: 0.4s;
}

.card-answer:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin: 0;
}

p {
    margin: 0 !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}